[Desktop Entry]
Name=Gentoo
Comment=File Manager
Comment[pl]=Zarządca plików
Icon=gentoo.png
Exec=gentoo
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Utility;FileManager;
# vi: encoding=utf-8
