[Desktop Entry]
Name=Gentoo
Comment=File Manager
Comment[pl]=Zarządca plików
Icon=gentoo
Exec=gentoo
Terminal=false
Type=Application
Categories=GTK;Utility;FileManager;
# vi: encoding=utf-8
