[Desktop Entry]
Name=Gentoo
Comment=File Manager
Comment[pl]=Zarządca plików
Icon=gentoo.png
Exec=gentoo
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
